<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    {% load i18n %}
    <title>{% trans "Song Lyric" %}</title>
</head>
<body>
    <h1>{% trans "Щедрик" %}</h1>

    <p>{% trans "Щедрик, щедрик, щедрівочка," %}</p>
    <p>{% trans "Прилетіла ластівочка," %}</p>
    <p>{% trans "Стала собі щебетати," %}</p>
    <p>{% trans "Господаря викликати:" %}</p>
    <p>{% trans "Вийди, вийди, господарю," %}</p>
    <p>{% trans "Подивися на кошару," %}</p>
    <p>{% trans "Там овечки покотились," %}</p>
    <p>{% trans "А ягнички народились," %}</p>
    <p>{% trans "В тебе товар весь хороший," %}</p>
    <p>{% trans "Будеш мати мірку грошей," %}</p>
    <p>{% trans "Хоч не гроші, то полова —" %}</p>
    <p>{% trans "В тебе жінка чорноброва." %}</p>
    <p>{% trans "Щедрик, щедрик, щедрівочка," %}</p>
    <p>{% trans "Прилетіла ластівочка." %}</p>
</body>
</html>
